<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <main>
        <div>
    <h1> Edit this Item</h1>

    <form method="post">
        {% csrf_token %}
    {% comment %} <p>
        <label for="task">Task
            <input type="text" name="task" id='task'>
        </label> 
    </p> 
    <p>
        <label for="duedate">Due Date
            <input type="text" name= 'DueDate' id='duedate'>
        </label> 
    </p>
    <p>
        <label for="is_completed"> is completed
            <input type="checkbox" name="is_completed" id="is_completed"> 
        </label>
    </p>
        <p>
        List<select name="list">
            {% for list_value in todo_list %}
            <option value="{{ list_value.id}}"> {{list_value.name}} </option>
            {% endfor %}
        </select>
        </P> {% endcomment %}
        {{ form.as_p }}
        <button>Update</button>
    </form>
</div>
</main>
</body>
</html>
